.icon-box-container {
  width: 327px;
  border-radius: 12px;
  background: var(--brand-ghost-white, #fff);
  display: flex;
  flex-direction: row;
  gap: 23px;
  padding: 16px 20px;
}
.icon-box-icon {
  width: 24px;
  height: 24px;
}
.icon-box-ques {
  font-size: 16px;
  line-height: 20px;
}
.icon-box-detail {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.icon-box-body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  /* width: 242px; */
}
.boxes-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 1050px) {
    .icon-box-container {
  width: 327px;
  border-radius: 12px;
  border: 1px solid var(--grayscale-g-6, #d6d6d6);
  background: var(--brand-ghost-white, #fff);
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 16px 20px;
  gap: 46px;
}
  .boxes-container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  .icon-box-body {
    display: flex;
    flex-direction: column;
    width: 242px;
  }
  .icon-box-icon {
    width: 48px;
    height: 48px;
  }
  .icon-box-body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  width: 242px;
}
}
